*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}

ul{
  text-align: center;
}

.button_1{
  height:38px;
  background:#e8491d;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}																

.dark{
  padding:15px;
  background:#1f3f5d;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

.fixed__icons{
  bottom:3px;
  position:fixed;
  right:10px;
  width:40px;
  z-index:10;
  
  animation: fadeInUp;
  animation-duration: 1.5s;
}

.fixed__icon__item:not(:last-child){
  display:block;
}

.notfound{
  background:#fff;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(217,217,217,1) 70%);
  position:fixed;
  width:100%;
  height:100%;
}

.notfound__title{
  font-size:40px;
  padding-top:120px;
}

footer{
  background-color:#000000;
  color:white;
  padding:5px 0 30px;
  text-align:center;
  position:relative;
}

.footer__logo{
  display:block;
  margin:auto;
  width:200px;
  padding-bottom:0px;
}

.footer__icons{
  padding:0px;
}

.footer__icon{
  text-decoration:none;
}

.footer__icon:not(:last-child){
  padding-right:12px;
}

.footer__legal__link{
  color:#f09124;
  display:block;
}

.footer__legal__link:nth-child(1){
  padding-bottom:40px;
}

.footer__legal,.form__flex{
  align-items:center;
  display:flex;
  justify-content:center;
}

.footer__legal__link:nth-child(1){
  padding:0 36px 0 0;
}

/*footer{
  padding:55px 0 50px;
}*/

.footer__reverse{
  display:flex;
  flex-direction:column-reverse;
  justify-content: center;
}

.footer__icons{
  padding:0px;
}

.wrapper{
  padding:10px;
  width:100%;
}

/* Header */
header{
  background:#0a3f73;
  color:#ffffff;
  padding-top:10px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  
  animation: fadeInDown;
  animation-duration: 1.5s;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:13px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Main */
main{
    animation: fadeInLeft;
    animation-duration: 0.75s;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#237cd2;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
